<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hatchery Backend</title>
  </head>
  <body>
    <h1>This is the API for the Hatchery Angular frontend</h1>
    <img src="http://worldartsme.com/images/cartoon-chicken-clipart-1.jpg"/>
  </body>
</html>
